@{
    ViewData["Title"] = "Time Series Insights Data App";
}

<div class="text-center">
    <h1 class="display-4">Time Series Insights Data App</h1>
    <p>
        To display Time Series Insights data, just append to the base URL the following route:<br /><br />
        /timeseriesdata?sensortype=sensortype&since=since&dataformat=dataformat&ignoreNull?=ignoreNull
        <br />
        <br />
        <b>sensorType:</b> @ViewData["SensorTypes"]<br />
        <b>since:</b> only return logs since this time, as a duration: 1h, 20m, 2h30m<br />
        <b>interval:</b> time intervals to aggregate the data in duration format: pt30s, pt5m, pt1h<br />
        <b>yaxis:</b> @ViewData["YAxis"]<br />
        <br />
        <br />
        <b>Example:</b> @ViewData["BaseUrl"]/timeseriesdata?sensortype=temp&since=30m&interval=pt3m&yaxis=shared
    </p>
</div>
